<% layout('./layouts/boilerplate.ejs') %>
<section>
  <div class="home-categories">
    <div class="home-category">
      <a href="/kwiaty/kategorie/bukiety" title="bukiety"><img src="/images/bouquet.jpg" alt="bukiety"></a>
      <div class="category-text">Bukiety</div>
    </div>
    <div class="home-category">
      <a href="/kwiaty/kategorie/flowerbox" title="flowerbox"><img src="/images/flowerbox.jpg" alt="flowerbox"></a>
      <div class="category-text">FlowerBox</div>
    </div>
    <div class="home-category">
      <a href="/wience" title="wieńce"><img src="/images/wreath.jpg" alt="wieńce pogrzebowe"></a>
      <div class="category-text">Wieńce Pogrzebowe</div>
    </div>
    <div class="home-category">
      <a href="/kwiaty/kategorie/ciete" title="kwiaty cięte"><img src="/images/cut-flowers.jpg" alt="kwiaty cięte"></a>
      <div class="category-text">Kwiaty Cięte</div>
    </div>
    <div class="home-category">
      <a href="/kwiaty/kategorie/doniczkowe"><img src="/images/houseplants.jpg" alt="rośliny doniczkowe"></a>
      <div class="category-text">Rośliny doniczkowe</div>
    </div>
    <div class="home-category">
      <a href="/kwiaty/kategorie/sztuczne"><img src="/images/artificial-flowers.jpg" alt="kwiaty sztuczne"></a>
      <div class="category-text">Kwiaty Sztuczne</div>
    </div>
  </div>
</section>
<section>
  <div class="shop-description">
    <div class="shop-details">
      <p class="p-header">Kwaciarnia Bartosz12</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo deserunt ipsa rem iusto perferendis accusantium quam eum commodi, beatae, magnam quia aperiam nulla obcaecati facere distinctio,
        nobis repudiandae. Voluptates, corrupti?</p>
    </div>
    <div class="shop-occasions">
      <p class="p-header">Kwiaty na każdą okazję</p>
        <a href="/kwiaty/okazje/urodziny" title="urodziny">Urodziny</a>
        <a href="/kwiaty/okazje/dla-zakochanych" title="dla zakochanych">Dla Zakochanych</a>
        <a href="/kwiaty/okazje/gratulacje" title="gratulacje">Gratulacje</a>
        <a href="/kwiaty/okazje/przeprosiny" title="przeprosiny">Przeprosiny</a>
        <a href="/kwiaty/okazje/dla-mamy" title="dla Mamy">Dla Mamy</a>
        <a href="/kwiaty/okazje/dla-taty" title="dla Taty">Dla Taty</a>
        <a href="/kwiaty/okazje/na-slub" title="ślub">Ślub</a>
        <a href="/kwiaty/okazje/dla-dziadkow" title="dla Dziadków">Dla Dziadków</a>
        <a href="/kwiaty/okazje/rocznica" title="rocznica">Rocznica</a>
        <a href="/kwiaty/okazje/pogrzeb" title="pogrzeb">Pogrzeb</a>
        <a href="/kwiaty/okazje/chrzciny" title="chrzciny">Chrzciny</a>
        <a href="/kwiaty/okazje/komunia" title="komunia">Komunia</a>
        <a href="/kwiaty/okazje/dla-niej" title="dla Niej">Dla Niej</a>
        <a href="/kwiaty/okazje/dla niego" title="dla Niego">Dla Niego</a>
        <a href="/kwiaty/okazje/podziekowania" title="podziękowania">Podziękowania</a>
        <a href="/kwiaty/okazje/narodziny-dziecka" title="narodziny dziecka">Narodziny Dziecka</a>
        <a href="/kwiaty/okazje/imieniny" title="imieniny">Imieniny</a>
        <a href="/kwiaty/okazje/dla-firm" title="dla firm">Dla firm</a>
        <a href="/kwiaty/okazje/wielkanoc" title="Wielkanoc">Wielkanoc</a>
        <a href="/kwiaty/okazje/boze-narodzenie" title="Boże Narodzenie">Boże Narodzenie</a>
    </div>
  </div>
</section>
<section>
  <p class="p-header">Znajdź coś dla siebie</p>
  <div class="products-list">
    <% products.forEach(product=>{ %>
      <% if(product.hidden  && currentUser && currentUser.role !== 'admin') {} %>
      <% if(product.hidden && currentUser && currentUser.role === 'admin') { %>
        <div class="product">
          <div class="product-hidden"></div>
          <a href="/kwiaty/<%= product.id %>" title="<%= product.name %>">
          <div class="product-img">
            <% if(product.images.length) {%>
              <img src="/photos/<%= product.images[0].filename %> " alt="<%= product.name %>" />
              <% } %>
            </a>
            </div>
            <div class="product-details">
              <div class="product-name"><a href="/kwiaty/<%= product.id %> " title="<%= product.name %>"><%= product.name %></a></div>
              <% if(product.onPromo === "true") {%>
                <div class="product-promo"></div>
              <div class="product-price"><span class="product-price-new"><%= product.promoPrice.toFixed(2)%>zł </span><span class="product-price-old"><%= product.price.toFixed(2) %>zł</span></div>
              <% } else {%> 
              <div class="product-price"><%= product.price.toFixed(2) %> zł</div>
              <% } %> 
            </div>
        </div>
      <% } %>
    <% if(!product.hidden) {%>
      <div class="product">
        <a href="/kwiaty/<%= product.id %>" title="<%= product.name %>">
        <div class="product-img">
          <% if(product.images.length) {%>
            <img src="/photos/<%= product.images[0].filename %> " alt="<%= product.name %>" />
            <% } %>
          </a>
          </div>
          <div class="product-details">
            <div class="product-name"><a href="/kwiaty/<%= product.id %> "><%= product.name %></a></div>
            <% if(product.onPromo === "true") {%>
              <div class="product-promo"></div>
            <div class="product-price"><span class="product-price-new"><%= product.promoPrice.toFixed(2)%>zł </span><span class="product-price-old"><%= product.price.toFixed(2) %>zł</span></div>
            <% } else {%> 
            <div class="product-price"><%= product.price.toFixed(2) %> zł</div>
            <% } %> 
          </div>
        </div>
      <% } %>
  <% }) %>
  </div>
</section>