<% layout('./layouts/boilerplate.ejs') %>
<section>
  <div class="products-list">
    <% products.forEach(product=>{ %>
      <% if(product.hidden  && currentUser && currentUser.role !== 'admin') {} %>
      <% if(product.hidden && currentUser && currentUser.role === 'admin') { %>
        
        <div class="product">
          <div class="product-hidden"></div>
          <a href="/kwiaty/<%= product.id %> ">
          <div class="product-img">
            <% if(product.images.length) {%>
              <img src="/photos/<%= product.images[0].filename %> " alt="product-image" />
              <% } %>
            </a>
            </div>
            <div class="product-details">
              <div class="product-name"><a href="/kwiaty/<%= product.id %> "><%= product.name %></a></div>
              <% if(product.onPromo === "true") {%>
                <div class="product-promo"></div>
              <div class="product-price"><span class="product-price-new"><%= product.promoPrice.toFixed(2)%>zł </span><span class="product-price-old"><%= product.price.toFixed(2) %>zł</span></div>
              <% } else {%> 
              <div class="product-price"><%= product.price.toFixed(2) %> zł</div>
              <% } %> 
            </div>
        </div>
      <% } %>
    <% if(!product.hidden) {%>
      <div class="product">
        <a href="/kwiaty/<%= product.id %> ">
        <div class="product-img">
          <% if(product.images.length) {%>
            <img src="/photos/<%= product.images[0].filename %> " alt="product-image" />
            <% } %>
          </a>
          </div>
          <div class="product-details">
            <div class="product-name"><a href="/kwiaty/<%= product.id %> "><%= product.name %></a></div>
            <% if(product.onPromo === "true") {%>
              <div class="product-promo"></div>
            <div class="product-price"><span class="product-price-new"><%= product.promoPrice.toFixed(2)%>zł </span><span class="product-price-old"><%= product.price.toFixed(2) %>zł</span></div>
            <% } else {%> 
            <div class="product-price"><%= product.price.toFixed(2) %> zł</div>
            <% } %> 
          </div>
        </div>
      <% } %>
  <% }) %>
  </div>

</section>
