<% layout('./layouts/boilerplate.ejs') %>
<section>
    <div class="shop-occasions">
        <a href="/pogrzeb/wience" title="Wieńce z żywych kwiatów">Wieńce z kwiatów żywych</a>
        <a href="/pogrzeb/wience-sztuczne" title="Wieńce z kwiatów sztucznych">Wieńce z kwiatów sztucznych</a>
    </div>
    <div class="products-list">
    <% products.forEach(product=>{ %>
    <div class="product">
      <a href="/kwiaty/<%= product.id %>" title="<%= product.name %> ">
      <div class="product-img">
        <% if(product.images.length) {%>
        <img src="/photos/<%= product.images[0].filename %> " alt="<%= product.name %>" />
        <% } %>
      </a>
      </div>
      <div class="product-details">
        <div class="product-name"><a href="/kwiaty/<%= product.id %> "><%= product.name %></a></div>
        <% if(product.onPromo === "true") {%>
          <div class="product-promo"></div>
        <div class="product-price"><span class="product-price-new"><%= product.promoPrice.toFixed(2)%>zł </span><span class="product-price-old"><%= product.price.toFixed(2) %>zł</span></div>
        <% } else {%> 
        <div class="product-price"><%= product.price.toFixed(2) %> zł</div>
        <% } %> 
      </div>
    </div>
    <% }) %>
    
  </div>
  <% if(productsAmount > 1){ %> 
    <div class="product-page">
      <a href="/kwiaty">1</a>
      <% for(let i=2; i <= productsAmount; i++){ %> 
      <a href="/kwiaty?p=<%= i %>"><%= i %></a>
      <% } %> 
    </div>
    <% } %> 
</section>